
Lab 1/.idea/*

.DS_Store

.DS_Store

Archives/.DS_Store

Lab 1/Cubicpline.png

Lab 1/CubicSpline.dat

Lab 1/CubicSpline.png

Lab 1/naturalSpline.dat

Lab 1/naturalSpline.png

Lab 1/Points.dat

Lab 1/Polynomial.dat

Lab 1/Polynomial.png

Lab 1/Report/Report.log

Lab 1/Report/Report.aux

Lab 1/Report/Report.synctex.gz
